.cart-table {
    width: 100%;
    max-width: 1350px; /* Limita la larghezza massima della tabella */
    margin: 20px auto; /* Centra la tabella e aggiunge margini verticali */
    border-collapse: collapse;
}

.cart-table th, .cart-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.cart-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.cart-table img {
    width: 100px;
    height: auto;
}

.quantity-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.quantity-controls button {
    background-color: #0D1459;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity-controls button:hover {
    background-color: #0a0e47;
}

.confirm-order-container {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px; /* Spazio tra i bottoni */
    margin-right: 40px; /* Aggiungi margine a sinistra */
    margin-bottom: 60px;
}

.confirm-order-button {
    background-color: #4CAF50; /* Sfondo verde */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px; /* Bordi arrotondati */
}

.confirm-order-button:hover {
    background-color: #45a049;
}

.clear-cart-button {
    background-color: #f44336; /* Sfondo rosso */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px; /* Bordi arrotondati */
}

.clear-cart-button:hover {
    background-color: #d32f2f;
}

.cart-title {
    text-align: center;
    margin-top: 20px;
}

.total-price-container {
    text-align: right;
    margin-right: 20px;
}

.decrement, .increment {
    color: gray; /* Colore del testo */
    border: none; /* Nessun bordo */
    padding: 5px 10px; /* Padding interno */
    border-radius: 5px; /* Bordi arrotondati */
    font-size: 12px; /* Dimensione del testo */
    margin: 0 5px; /* Margine orizzontale */
}

.empty-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altezza dell'intera finestra */
    text-align: center;
}

.empty-cart-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.shop-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00A896; /* Sfondo verde */
    color: white;
    text-decoration: none;
    border-radius: 20px; /* Bordi arrotondati */
    font-size: 16px;
}

.shop-button:hover {
    background-color: #008073;
}

.shopping-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.shopping-button {
    background-color: #00A896; /* Sfondo verde */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px; /* Bordi arrotondati */
    text-decoration: none;
    font-size: 12px;
    margin-left: 50px;
}

.shopping-button:hover {
    background-color: #008073;
}

/* Media queries per dispositivi mobili */
@media (max-width: 768px) {
    .cart-table {
        width: 100%;
        overflow-x: auto; /* Aggiungi lo scorrimento orizzontale */
        display: block; /* Assicura che la tabella possa scorrere */
    }

    .cart-table th, .cart-table td {
        padding: 30px;
        text-align: center; /* Mantieni il testo centrato */
    }

    .cart-table td:nth-child(4) {
        padding-left: 0;
        padding-right: 0;
    }

    .cart-table img {
        width: 80px;
        height: auto;
    }


    .confirm-order-container {
        flex-direction: column;
        gap: 10px;
        margin-right: 0;
    }

    .total-price-container {
        text-align: center;
        margin-right: 0;
    }

    .shopping-container {
        flex-direction: column;
        gap: 10px;
    }

    .shopping-button {
        margin-left: 0;
    }
}