body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('photo_shop/sfondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Assicurati che l'immagine di sfondo sia dietro il contenuto */
    filter: brightness(0.6);
}

.cart-table {
    width: 100%;
    max-width: 1350px; /* Limita la larghezza massima della tabella */
    margin: 20px auto; /* Centra la tabella e aggiunge margini verticali */
    border-collapse: collapse;
    background-color: white; /* Sfondo bianco per la tabella */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiungi effetto ombrato */
    border-radius: 10px; /* Aggiungi bordi arrotondati */
    overflow: hidden; /* Nascondi gli elementi che escono dai bordi arrotondati */
}

.cart-table th, .cart-table td {
    border: 1px solid #ddd;
    padding: 12px; /* Aumenta il padding per migliorare l'aspetto */
    text-align: center;
}

.cart-table th {
    background-color: #0D1459; /* Colore di sfondo per l'intestazione */
    color: white; /* Colore del testo per l'intestazione */
    font-weight: bold;
}

.cart-table img {
    width: 100px;
    height: auto;
    border-radius: 5px; /* Aggiungi bordi arrotondati alle immagini */
}

.quantity-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.quantity-controls button {
    background-color: #0D1459;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px; /* Aggiungi bordi arrotondati */
    transition: background-color 0.3s; /* Aggiungi transizione per l'effetto hover */
}

.quantity-controls button:hover {
    background-color: #0a0e47;
}

.confirm-order-container {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px; /* Spazio tra i bottoni */
    margin-right: 40px; /* Aggiungi margine a sinistra */
    margin-bottom: 60px;
}

.confirm-order-button {
    background-color: #0d1459; /* Sfondo verde */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px; /* Bordi arrotondati */
    transition: background-color 0.3s, transform 0.3s; /* Aggiungi transizione per l'effetto hover */
}

.confirm-order-button:hover {
    background-color: rgb(237, 202, 0);
    transform: scale(1.05); /* Aggiungi effetto di ingrandimento */
}

.clear-cart-button {
    background-color: #de0404; /* Sfondo rosso */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px; /* Bordi arrotondati */
    transition: background-color 0.3s, transform 0.3s; /* Aggiungi transizione per l'effetto hover */
}

.clear-cart-button:hover {
    background-color: #d32f2f;
    transform: scale(1.05); /* Aggiungi effetto di ingrandimento */
}

.cart-title, .empty-cart-title {
    background-color: white; /* Sfondo bianco */
    text-align: center; /* Allinea il testo al centro */
    padding: 10px; /* Aggiungi un po' di padding */
    border-radius: 10px; /* Aggiungi bordi arrotondati */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra */
    margin: 20px auto; /* Centra l'elemento e aggiungi margini verticali */
    width: fit-content; /* Adatta la larghezza al contenuto */
}

.cart-title {
    font-size: 24px; /* Aumenta la dimensione del font */
    color: black; /* Colore del testo */
    font-family: 'Helvetica Now Text Medium', Times, serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Aggiungi ombra al testo */
}

.total-price-container {
    text-align: right;
    margin-right: 50px;
    font-size: 18px; /* Aumenta la dimensione del font */
    font-weight: bold; /* Aggiungi grassetto */
    color: white; /* Colore del testo */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Aggiungi ombra al testo */
}

.decrement, .increment {
    color: gray; /* Colore del testo */
    border: none; /* Nessun bordo */
    padding: 5px 10px; /* Padding interno */
    border-radius: 5px; /* Bordi arrotondati */
    font-size: 12px; /* Dimensione del testo */
    margin: 0 5px; /* Margine orizzontale */
    cursor: pointer; /* Aggiungi il puntatore */
    transition: background-color 0.3s; /* Aggiungi transizione per l'effetto hover */
}

.decrement:hover, .increment:hover {
    background-color: #ddd; /* Colore di sfondo per l'effetto hover */
}

.empty-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 20px; /* Aggiungi padding */
    border-radius: 10px; /* Aggiungi bordi arrotondati */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra */
}

.shopping-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.shop-button {
    background-color: #00A896; /* Sfondo verde */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px; /* Bordi arrotondati */
    text-decoration: none;
    font-size: 12px;
    transition: background-color 0.3s, transform 0.3s; /* Aggiungi transizione per l'effetto hover */
}

.shop-button:hover {
    background-color: #008073;
    transform: scale(1.05); /* Aggiungi effetto di ingrandimento */
}

/* Contenitore principale */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Assicura che il contenitore principale occupi almeno l'altezza della finestra */
    padding: 20px;
}

/* Media queries per dispositivi mobili */
@media (max-width: 768px) {
    .cart-table {
        width: 100%;
        overflow-x: auto; /* Aggiungi lo scorrimento orizzontale */
        display: block; /* Assicura che la tabella possa scorrere */
    }

    .cart-table th, .cart-table td {
        padding: 30px;
        text-align: center; /* Mantieni il testo centrato */
    }

    .cart-table td:nth-child(4) {
        padding-left: 0;
        padding-right: 0;
    }

    .cart-table img {
        width: 80px;
        height: auto;
    }

    .confirm-order-container {
        flex-direction: column;
        gap: 10px;
        margin-right: 0;
    }

    .total-price-container {
        text-align: center;
        margin-right: 0;
    }

    .shopping-container {
        flex-direction: column;
        gap: 10px;
    }

    .shopping-button {
        margin-left: 0;
    }
}