/* Stile generale */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('photo/photo_shop/sfondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2,h1 {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
}
li{
    list-style-type: none;
}

/* Stile del form principale */
main > form {
    width: 80%;
    max-width: 600px;
}

/* Riquadro "Riepilogo Ordine" */
#order_summary {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    background-color: #0d1459; /* Blu più tenue */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

/* Riquadro "Dati dell'acquirente" */
#buyer_data {
    width: 100%;
    margin-top: 20px;
    background-color: #e9e9e9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    color: #141204;
}

#buyer_data label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

/* Input generali */
input[type="text"], input[type="email"], input[type="tel"], input[type="date"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Selezione sesso */
#sex_choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 89%;
    margin-top: 10px;
}

#sex_choice label {
    font-size: 16px;
    margin-right: 10px;
}

/* Sezione "Dati di pagamento" */
#card_data {
    width: 100%;
    margin-top: 20px;
    background-color: #0d1459;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

#payment-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#payment-form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.fa-solid.fa-location-dot{
    font-size: 25px;
    margin-left: 5px;
}

/* Pulsante di conferma */
#submit-button {
    float: center;
    margin: 10px;
    width: 80%;
    border: none;
    border-radius: 10px;
    background-color: #bd1010; /* Rosso più acceso */
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    transition: background 0.3s, transform 0.3s;
}

#submit-button:hover {
    background-color: #b71c1c;
    transform: scale(1.05);
}

/* Back-Button */
#back-button {
    margin: 10px;
    float: center;
    width: 80%;
    border: none;
    border-radius: 10px;
    background-color: #00A896; /* Verde più acceso */
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    transition: background 0.3s, transform 0.3s;
}

#back-button:hover {
    background-color: #007f6c;
    transform: scale(1.05);
}

#card-element {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    background-color: white;
}