body {
    background-color: #121212; /* Sfondo scuro */
    background: url('photo_ticket/tickets.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #000000; /* Cambia il colore del testo a nero */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

h1,h2,h4{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Effetto ombra */
    padding: 5px;
}

h4{
    padding: 10px;
}

.tabella {
    border-radius: 10px;
    margin: 10px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5) 0%, rgba(67, 67, 67, 0.5) 100%);
}


.container {
    background-color: #f5f5f5;
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    color: #000000; /* Cambia il colore del testo a nero */
}

.sector_choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    margin-top: 20px; /* Aumenta la distanza tra i settori */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.sector_choice:hover {
    background-color: #dfe9f3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
.sector_type {
    width: 25%;
    font-weight: bold;
    color: #000000; /* Cambia il colore del testo a nero */
    text-align: center;
    
}

.tickets_number {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000000; /* Cambia il colore del testo a nero */
    text-align: center;
    width: 50%;
    padding-left: 100px;
}

.ticket_price {
    width: 20%;
    text-align: center;
    font-weight: bold;
    color: darkred;
   
}

button {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

#submit-button {
    background-color: #d32f2f; /* Colore rosso */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
    float: right;
}

#submit-button:hover {
    background-color: #b71c1c;
}
.minus_button,.plus_button{
    cursor: pointer;
}

