/* Stili di base */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #090808;
    background-image: url('photo_club/background_club1.webp'); /* Percorso dell'immagine di sfondo */
    background-size: cover; /* Assicura che l'immagine copra l'intera area */
    background-position: center; /* Centra l'immagine di sfondo */
    background-repeat: no-repeat; /* Evita che l'immagine si ripeta */
  }
  
  /* Contenitore principale */
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }
  
  /* Titoli */
  h1 {
    font-style: italic;
    text-align: center;
    font-size: 40px;
    color: #7e1710;
    margin-top: 20px;
  }
  
  h2 {
    font-style: italic;
    text-align: center;
    font-size: 30px;
    color: #0d1459;
    margin-top: 20px;
  }
  
  /* Paragrafi */
  p {
    font-style: normal;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6;
    margin: 20px 0;
  }

  .description {
    font-size: 16px;
    line-height: 1.6;
    margin: 20px 0;
  }
  
  img.mino {
    float: left;
    margin-right: 20px;
    width: 150px;
    height: auto;
    object-fit: contain;
  }
  
  img.chi {
    float: center;
    width: 780px;
    height: auto;
    object-fit: contain;
    width: 100%;
  }
  
  /* Chiarezza nelle sezioni (pulizia dei float) */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Spaziatura tra le sezioni */
  section {
    margin-bottom: 40px;
  }

  .timeline {
    border-left: 3px solid #333;
    margin-top: 20px;
    padding-left: 20px;
  }
  .timeline-item {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
  }
  .timeline-date {
    font-weight: bold;
    color: #555;
    margin: 10px;
  }
img
{
  width: 100%;
  height:auto;
  object-fit: contain;
  float: left;
}

.timeline-content {
  float: right;
  }