.geppetto {
    display: flex;
    gap: 30px;
    width: 200px;
    margin-bottom: 10px;
    align-items: flex-start; /* Allinea gli elementi in alto */
    gap: 20px; /* Spazio tra immagine e testo */
}

.text-container {
        display: flex;
        flex-direction: row; /* Allinea i due blocchi di testo orizzontalmente */
        gap: 25px; /* Spazio tra i blocchi */
}

.text-block {
        width: 25%; /* Imposta metà larghezza per ciascun blocco */
}

.image {
        width: 100x;
        height: 100px;
}

@media (max-width: 768px) {
.allenatore {
            flex-direction: column; /* Per schermi piccoli, elementi in colonna */
        }

        .text-container {
            flex-direction: column; /* I testi andranno in colonna */
            gap: 10px;
        }

        .text-block {
            width: 100%; /* Testo a tutta larghezza */
        }
    }

.text {
    position: absolute;
    top: 60%; /* Centra verticalmente */
    left: 10%; /* Centra orizzontalmente */
    transform: translate(-10%, -10%); /* Centra esattamente */
    color: black; /* Colore del testo */
    font-size: 24px; /* Dimensione del testo */
    font-weight: bold; /* Opzionale: Grassetto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombra per il testo, opzionale */
}