footer {
    background-color: #0A1F44; /* Blu scuro */
    color: white;
    text-align: center;
    
    font-family: Arial, sans-serif;
}


/* Sezione superiore con sponsor */
.footer-top {
    position: relative;
    background-color: #0A2239;
    padding: 20px;
}

.footer-top h2 {
    color: white;
    font-style: oblique;
    font-size: 22px;
    margin-bottom: 10px;
}

/* Logo sponsor */
.mino img{
    width: 100px;
    height: auto;
    object-fit: contain; /* L'immagine non sarà tagliata né distorta */
    padding-right: 7px;
    vertical-align: middle;
}
li{
    margin: 0;
    list-style-type: none;
}

/* Sezione inferiore */
.footer-bottom {
    background-color: #718084; /* Grigio */
   padding: 20px;
}

.hashtag {
    font-size: 18px;
    font-style: italic;
    color: black;
}

.social-icons a {
    color: white;
    font-size: 24px;
    margin: 0 px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: yellow;
}

/* Copyright */
.copyright {
    font-size: 14px;
    margin-top: 15px;
    color: black;
}

.nike-photo img{
    width: 20px;
    height: 15px;
    object-fit: contain; /* L'immagine non sarà tagliata né distorta */
    padding-right: 7px;
    vertical-align: middle;
}
.jordan-photo img{
    width: 20px;
    height: 20px;
    object-fit: contain; /* L'immagine non sarà tagliata né distorta */
    padding-right: 0px;
    vertical-align: middle;
}

