/* Stile generale per il corpo della pagina */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    position: relative;
    padding-top: 100px; /* Altezza dell'header */
    padding-bottom: 100px; /* Altezza del footer */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('photo_news/news_background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Assicurati che l'immagine di sfondo sia dietro il contenuto */
    filter: brightness(0.7);
}

h1 {
    text-align: center;
    color: white;
    padding: 2px;
    font-size:37px;
    margin-bottom: 5px;
    font-weight: bold; /* Rende il testo più spesso */
   text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5); /* Aggiunge un'ombra al testo */
    max-width: 300px;
    margin: 10px auto; /* Centra il box orizzontalmente */
    border-radius: 10px;
}

/* Stile della sezione news */
.news-articles {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    padding: 10px;
    -ms-overflow-style: none;  /* Nasconde la barra di scorrimento in Internet Explorer e Edge */
    scrollbar-width: none;  /* Nasconde la barra di scorrimento in Firefox */
}

.news-articles::-webkit-scrollbar {
    display: none;  /* Nasconde la barra di scorrimento in Chrome, Safari e Opera */
}

.news-articles article {
    min-width: 250px;
    max-width: 300px;
    background: linear-gradient(135deg, #ffffff 30%, #dfe9f3 100%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer; /* Cambia il cursore per indicare che l'articolo è cliccabile */
    transition: transform 0.2s; /* Aggiungi una transizione per l'effetto di ingrandimento */
}

.news-articles article h2 {
    text-transform: uppercase;
}

.news-articles article:hover {
    transform: scale(1.1); /* Ingrandisce leggermente l'articolo al passaggio del mouse */
}

.news-articles img {
    width: 100%;
    border-radius: 5px;
}

.news-articles h2 {
    font-size: 18px;
    margin: 10px 0;
}

.news-articles a {
    display: inline-block;
    margin-top: 10px;
    color: #0044cc;
    text-decoration: none;
}

.news-articles a:hover {
    text-decoration: underline;
}

.news-articles a.read-more {
    display: inline-block;
    margin-top: 10px;
    color: #0044cc;
    text-decoration: none;
}

.news-articles a.read-more:hover {
    text-decoration: underline;
}

/* Stile per il modal delle news */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
.modal-arrows {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content img {
    width: 100%;
    height: auto;
max-height: 90vh;
    border: none;
    padding: 0;
    margin: 0;
    display: block;
    max-width: 100%;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    user-select: none;
    margin-left: -10px;
    margin-right: -10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Stile per l'ingrandimento dell'articolo */
.modal-article {
    display: none; /* Nasconde il modal di default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-article-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.close-article {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-article:hover,
.close-article:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Stile della foto gallery */
.photo-gallery {
    padding: 20px;
    text-align: center;
    margin: 20px;
    }

.photo-gallery h2 {
    font-size: 20px;
    color: #0d1459;
    margin-bottom: 10px;
}

.gallery-wrapper {
    overflow: hidden; /* Nasconde la barra di scorrimento */
}

.gallery {
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    padding: 10px;
    -ms-overflow-style: none;  /* Nasconde la barra di scorrimento in Internet Explorer e Edge */
    scrollbar-width: none;  /* Nasconde la barra di scorrimento in Firefox */
}

.gallery::-webkit-scrollbar {
    display: none;  /* Nasconde la barra di scorrimento in Chrome, Safari e Opera */
}

.gallery img {
    width: 150px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer; /* Cambia il cursore per indicare che l'immagine è cliccabile */
    transition: transform 0.2s; /* Aggiungi una transizione per l'effetto di ingrandimento */ 
}

.gallery img:hover {
    transform: scale(1.1); /* Ingrandisce leggermente l'immagine al passaggio del mouse */
}

/* Stile dei video */
.video-gallery {
    padding: 20px;
    text-align: center;
}

.video-gallery.active {
    display: block; /* Mostra la sezione video attiva */
}

.video-gallery h2 {
    font-size: 20px;
    color: #0d1459;
    margin-bottom: 10px;
}

.video-wrapper {
    overflow: hidden; /* Nasconde la barra di scorrimento */
}

.videos {
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    padding: 10px;
    -ms-overflow-style: none;  /* Nasconde la barra di scorrimento in Internet Explorer e Edge */
    scrollbar-width: none;  /* Nasconde la barra di scorrimento in Firefox */
}

.videos::-webkit-scrollbar {
    display: none;  /* Nasconde la barra di scorrimento in Chrome, Safari e Opera */
}

.videos video {
    width: 300px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer; /* Cambia il cursore per indicare che il video è cliccabile */
    transition: transform 0.2s; /* Aggiungi una transizione per l'effetto di ingrandimento */
}

.videos video:hover {
    transform: scale(1.1); /* Ingrandisce leggermente il video al passaggio del mouse */
}

/* Stile per l'ingrandimento del video */
.modal-video {
    display: none; /* Nasconde il modal di default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-video-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-video-content video {
    width: 100%;
    height: auto;
}

.close-video {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-video:hover,
.close-video:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.sub-nav {
    text-align: center;
    margin: 20px 0;
   
}

.sub-nav .nav-link1 {
    color: whitesmoke;  
    font-size: 20px;
    font-weight: bold;
    margin: 0 15px;
    text-decoration: none;
    filter: brightness(0.7);    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Aggiunge un'ombra al testo */ 
}

.sub-nav .nav-link1:hover {
    text-decoration: underline;  
}


.nav-link1.active {
    color: white;
   filter: brightness(1);
   text-shadow: 0.5px 0.5px 2px white; /* Aggiunge un'ombra al testo */
}

/* Media queries per dispositivi mobili */
@media (max-width: 768px) {
    body {
        padding-top: 50px; /* Riduci l'altezza dell'header */
        padding-bottom: 50px; /* Riduci l'altezza del footer */
    }

    h1 {
        font-size: 24px;
        max-width: 90%;
    }

    .news-articles article {
        min-width: 100%;
        max-width: 100%;
    }

    .modal-content,
    .modal-article-content {
        width: 90%;
    }

    .photo-gallery {
        padding: 0;
        height: 20vh;
    }

    .gallery-wrapper {
        height: 100%;
    }

    .gallery {
        height: 100%;
        width: auto;
    }

    .video-gallery {
        display: flex;
        overflow-x: scroll;
        gap: 20px;
        padding: 10px;
        -ms-overflow-style: none;  /* Nasconde la barra di scorrimento in Internet Explorer e Edge */
        scrollbar-width: none;  /* Nasconde la barra di scorrimento in Firefox */
    }

    .gallery img {
        height: 100%;
        width: 100%;
    }

    .video-gallery h2,
    .photo-gallery h2 {
        font-size: 18px;
    }
    .sub-nav a{
        font-size: 14px;
    }
}