main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.player_image{
    max-width: 50%;
}
.player_image > img{
    max-width: 100%;
    height: 40vw;
    width: 45vw;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.playbasket-table > tbody > tr:hover {
    transform: scale(1.04);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #fff; /* Aggiungi un bordo bianco sottile */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.player_image > img:hover {
    transform: scale(1.04);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #fff; /* Aggiungi un bordo bianco sottile */
}
.player_info{
    max-width: 40%;
    margin-left: 5%;
}

.player_brief_stats{
    background-color: #c0c0c0; /* Colore grigio come background */
    padding: 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.player_brief_stats:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.player_info_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player_brief_stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;  
}
.player_brief_stats > h2{
    margin-bottom: 10px;
}
.actual_stats{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
#table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
}

.info{
    background-color: #c0c0c0; /* Colore grigio come background */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}

.info:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.playbasket-table{
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.playbasket-table > tbody > tr > td {
    padding: 5px;
    margin-left: 5px;
}
.playbasket-table > thead > tr > th {
    padding: 10px;
    background-color: #0d1459;
    color: white;
}
.playbasket-table > tbody{
    background-color: white;
}
.playbasket-table > tbody > tr:nth-child(odd){
    background-color: #f9f9f9;
}
.playbasket-table > tbody > tr:nth-child(even){
    background-color: #c0c0c0;
}
.playbasket-table > tbody > tr:hover {
    background-color: #e0e0e0; /* Cambia il colore di sfondo al passaggio del mouse */
}

.back-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.back-button:hover {
    background-color: darkred;
}