#table-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.playbasket-table{
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.playbasket-table > tbody > tr > td {
    padding: 10px;
    margin-left: 5px;
}
.playbasket-table > thead > tr > th {
    padding: 10px;
    background-color: #0d1459;
    color: white;
}
.playbasket-table > tbody{
    background-color: white;
}
.playbasket-table > tbody > tr:nth-child(odd){
    background-color: #f9f9f9;
}
.playbasket-table > tbody > tr:nth-child(even){
    background-color: #c0c0c0;
}