body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('photo_teams/photo5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Assicurati che l'immagine di sfondo sia dietro il contenuto */
    opacity: 0.9;
}

.team-image {
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-image:hover {
    transform: scale(1.04);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #fff; /* Aggiungi un bordo bianco sottile */
}

div > img{
    display: block;
    margin: auto;
    height: 40vw;
    width: 45vw;
    border-radius: 15px;
    align-items: center;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
    background-color: white;
}
th, td {
    border: 1px solid black;
    padding: 10px;
}
th {
    background-color: #0d1459; /* Colore diverso per la prima riga */
    color: white;
}

tr:nth-child(even) {
    background-color: #cbcaca; /* Alternanza di colori per le righe */
}
th {
    cursor: pointer;
    position: relative;
    padding-right: 20px; /* Spazio per la freccia */
}
th::after {
    content: "▲▼";
    position: absolute;
    right: 5px;
    font-size: 12px;
    color: #ccc; /* Colore grigio per le frecce inattive */
}
th.asc::after {
    content: "▲";
    color: #000; /* Colore nero per la freccia attiva */
}
th.desc::after {
    content: "▼";
    color: #000; /* Colore nero per la freccia attiva */
}
.text-block {
    width: 75%;
    margin: 0 auto;
    border-radius: 5px;
}

.roster{
    padding-top: 15px;
    margin-left: 5px;
    color: white;
    font-size: 24px;
}

.sec_img {
    display: flex;
    gap: 40px;
    width: auto;
    margin-bottom: 150px; 
    padding-left: 10px;
}

.image-container {
    position: relative;
    width: 300px;
    height: 200px;
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.image {
    width: 100%;
    height: 150%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 25px;
}

.image-container:hover .image {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #fff; /* Aggiungi un bordo bianco sottile */
}

.text {
    position: absolute;
    top: 100%; /* Centra verticalmente */
    left: 10%; /* Centra orizzontalmente */
    transform: translate(-10%, -10%); /* Centra esattamente */
    color: white; /* Colore del testo */
    font-size: 24px; /* Dimensione del testo */
    font-weight: bold; /* Opzionale: Grassetto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombra per il testo, opzionale */
    margin-top: 10px;
    transition: transform 0.3s ease; /* Aggiungi transizione per il movimento del testo */
    -webkit-text-stroke: 1px black; /* Contorno blu per le lettere */
}

.image-container:hover .text {
    transform: translate(-10%, -20%); /* Modifica la posizione del testo quando l'immagine viene ingrandita */
}

.text-container {
    display: flex;
    gap: 25px; /* Distanza tra i blocchi di testo */
}

.text-block {
    width: 50%; /* Ogni blocco di testo prende metà della larghezza disponibile */
}

.image1 {
    flex-shrink: 0;
    width: 250px;
    height: 250px;
    float: left;
    padding-top: 5px;
    margin-left: 20px;
    flex: 1;
}

.text2 {
    display: flex;
    flex-direction: row; /* Imposta il layout in riga */
    gap: 20px; /* Spazio tra i blocchi */
    padding-left: 20px;
    flex-wrap: wrap; /* Permette al contenuto di andare a capo se necessario */
    width: 62%; /* Assicura che il contenitore prenda tutta la larghezza disponibile */
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 50%;
}
.roster-title{
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
.info {
    display: flex;
    flex-direction: column;
    flex: 1; /* Permette all'elemento di crescere */
    font-size: 14px;
    margin: 10px 0;
    padding-right: 5px;
}

.description {
    max-width: 600px;
    text-align: justify;
    flex: 2; /* Permette all'elemento di crescere di più rispetto a .info */
    margin-top: 15px;
    font-size: 14px;
}


.main-nav {
    text-align: center;
    background-color: #00A896;
    height: 50px;
    padding-top: 15px;
}

.nav-link {
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Aggiunge un'ombra al testo */
    font-weight: bold; /* Rende il testo più spesso */
    text-decoration: none;
}

.nav-link1 {
    color: whitesmoke;
    padding: 5px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Aggiunge un'ombra al testo */
    font-weight: bold; /* Rende il testo più spesso */
    text-decoration: none;
}

.nav-link1.active {
    color: black;
    text-decoration: underline; /* Sottolinea la voce attiva */
}

.nav-link1.inactive {
    color: white;
}

.sub-nav {
    margin-left: 5px;
}

.team-image {
    width: 45vw;
    height: 35vw;
    display: block;
    margin: auto;
    align-items: center;
}

.roster-title {
    text-align: center;
    margin-top: 10px;
}

.position-title {
    margin-left: 5px;
    clear: both; /* Aggiunto per evitare che le immagini si sovrappongano ai titoli */
    margin-top:1%;
    
}

 h2{
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Aggiunge un'ombra al testo */
    font-weight: bold; /* Rende il testo più spesso */
    
}


.position-title1 {
    margin-left: 5px;
    margin-top: 5px;
}

.coach-image {
    width: 100%;
    border-radius: 8px;
    flex-shrink: 0;
    width: 210px;
    height: 250px;
    margin-right: 20px; /* Space between image and text */
    max-width: 300px;
}

.coach_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

h1 {
    font-size: 25px;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
}

.bold {
    font-weight: bold;
    font-size: 14px;
}

.bold1 {
    font-weight: bold;
    font-size: 20px;
}

.coach-section {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.coach-description {
    flex: 1;
    font-size: 16px;
    text-align: justify;
    max-width: 600px; /* Limita la larghezza massima della descrizione */
}

#allenatore-section{
    display: none;
}

/* Media query per dispositivi mobili */
@media (max-width: 768px) {
    body::before {
        background-size: cover;
        background-position: center;
    }

    .team-image {
        width: 90vw;
        height: auto;
    }

    div > img {
        height: auto;
        width: 90vw;
    }

    table {
        width: 100%;
        margin: 10px auto;
    }

    th, td {
        padding: 5px;
    }

    .text-block {
        width: 90%;
    }

    .sec_img {
        flex-direction: column;
        gap: 20px;
        padding-left: 0;
    }

    .image-container {
        width: 90%;
        height: auto;
        margin: 10px auto;
        position: relative; /* Assicura che il testo sia posizionato correttamente */
    }

    .image {
        width: 100%;
        height: auto;
    }

    .text {
        font-size: 18px;
        position: absolute;
        top: 70%; /* Posiziona il testo vicino al limite inferiore dell'immagine */
        left: 75%;
        transform: translateX(-50%); /* Centra orizzontalmente */
        text-align: center; /* Centra il testo */
    }

    .text2 {
        flex-direction: column;
        width: 90%;
        padding: 10px;
    }

    .image1 {
        width: 90%;
        height: auto;
        margin: 10px auto;
    }

    .coach-description {
        max-width: 100%;
    }

    .main-nav {
        height: auto;
        padding-top: 10px;
    }

    .nav-link, .nav-link1 {
        display: block;
        margin: 5px 0;
    }

    .roster-title {
        font-size: 20px;
    }

    .position-title, .position-title1 {
        margin-top: 5%;
    }

    h2 {
        font-size: 20px;
    }

    .coach-image {
        width: 90%;
        height: auto;
    }

    .coach_container {
        flex-direction: column;
    }

    .coach-description {
        font-size: 14px;
    }
    .bold1 {
        font-weight: bold;
        width: 100%;
        font-size: 100%;
        text-align: left; /* Centra il testo */
    }
}

