body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('photo_teams/background_teams.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7; /* Opacità dell'immagine di sfondo */
    z-index: -1; /* Assicurati che l'immagine di sfondo sia dietro il contenuto */
}
        div > img{
            display: block;
            margin: auto;
            height: 40vw;
            width: 45vw;
            border-radius: 15px;
            align-items: center;
        }
        .image-container{
            width: 10%;
            padding-left: 10px;
        }
    
        table {
            width: 80%;
            border-collapse: collapse;
            margin: 20px auto;
            text-align: center;
            background-color: white;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
        }
        th {
            background-color: #4CAF50; /* Colore diverso per la prima riga */
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2; /* Alternanza di colori per le righe */
        }
        th {
            cursor: pointer;
            position: relative;
            padding-right: 20px; /* Spazio per la freccia */
        }
        th::after {
            content: "▲▼";
            position: absolute;
            right: 5px;
            font-size: 12px;
            color: #ccc; /* Colore grigio per le frecce inattive */
        }
        th.asc::after {
            content: "▲";
            color: #000; /* Colore nero per la freccia attiva */
        }
        th.desc::after {
            content: "▼";
            color: #000; /* Colore nero per la freccia attiva */
        }
        .text-block {
            width: 75%;
            margin: 0 auto;
            border-radius: 5px;
        }
        .share-container {
            display: flex;
            align-items: center;
            background-color: #d3d6db;
            padding: 10px;
            border-radius: 5px;
            width: fit-content;
        }
        .share-text {
            font-size: 16px;
            font-weight: bold;
            margin-right: 10px;
        }
        .share-icon {
            width: 35px;
            height: 35px;
            margin-right: 10px;
            cursor: pointer;
        }
        .main-nav {
            text-align: center;
            background-color: #00A896;
            height: 50px;
            padding-top: 15px;
        }
        
        .nav-link {
            color: white;
            padding: 5px;
            margin-bottom: 5px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Aggiunge un'ombra al testo */
            font-weight: bold; /* Rende il testo più spesso */
            text-decoration: none;
        }
        .image1 {
            flex-shrink: 0;
            width: 250px;
            height: 250px;
            float: left;
            padding-top: 5px;
            margin-left: 20px;
            flex: 1;
        }
        
        .text2 {
            display: flex;
            flex-direction: row; /* Imposta il layout in riga */
            gap: 20px; /* Spazio tra i blocchi */
            padding-left: 20px;
            flex-wrap: wrap; /* Permette al contenuto di andare a capo se necessario */
            width: 62%; /* Assicura che il contenitore prenda tutta la larghezza disponibile */
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            height: 50%;
        }
        
        .info {
            display: flex;
            flex-direction: column;
            flex: 1; /* Permette all'elemento di crescere */
            font-size: 14px;
            margin: 10px 0;
            padding-right: 5px;
        
        }
        
        .description {
            max-width: 600px;
            text-align: justify;
            flex: 2; /* Permette all'elemento di crescere di più rispetto a .info */
            margin-top: 15px;
            font-size: 14px;
        }
        
        #allenatore-section{
            display: none;
        }
        
        .position-title {
            margin-left: 5px;
            clear: both; /* Aggiunto per evitare che le immagini si sovrappongano ai titoli */
            margin-top:1%;
            
        }
        
        .coach-image {
            width: 100%;
            border-radius: 8px;
            flex-shrink: 0;
            width: 210px;
            height: 250px;
            margin-right: 20px; /* Space between image and text */
            max-width: 300px;
        }
        
        .coach_container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
        }
        
        .bold {
            font-weight: bold;
            font-size: 14px;
        }
        
        .bold1 {
            font-weight: bold;
            font-size: 20px;
        }
        
        #allenatore-section{
            display: none;
        }