body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

main {
    padding: 20px;
}

h2 {
    text-align: center;
    color: #0d1459;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2 a {
    text-align: center;
    color: #0d1459;
    margin-top: 10px;
    margin-bottom: 10px;
}

.calendario{
    margin: 20px auto;
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.partita {
    text-align: center;
}

.partita h2 {
    color: #7e1710;
}

.partita p {
    margin: 10px 0;
}

.partita button {
    padding: 10px 20px;
    background-color: #0d1459;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.partita button:hover {
    background-color: #7e1710;
}

.partita button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

/* Media queries per dispositivi mobili */
@media (max-width: 768px) {
    main {
        padding: 20px;
    }

    .calendario, .classifica {
        margin: 10px auto;
        padding: 10px;
    }
    .classifica{
        max-width: 90vw;
    }

    .partita button {
        padding: 8px 16px;
        font-size: 14px;
    }
}